.container{

width: 100%;

border: 2px solid red;
}
.container-header {
     height: 300px;
     border: 1px solid black;
     display: flex;
     margin: 0 auto;
     padding: 2px 2px 2px 2px;
}

.text-header{

margin-top: 61px;

margin-left: 55px;

width: 40%;

padding: 4px 4px 4px 4px;

font-family: cursive;
}

.container-left{



}


.img-im1{

border-radius: 90px 90px 90px 90px;

width: 23%;

padding: 2px 2px 2px 2px;
}
p::before {
  content: "-->";

        content: "\1F517 ";
}
p{
      text-path: path('M 50 100 Q 100 200 150 100 Q 200 0 250 100 Q 300 200 350 100');

}
