


@media screen and (max-width: 600px) and (min-width: 200px) {
  section {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
  }
}


 
   /* image gallery */
  h1 {
  font-family: arial;
  font-size: 3em;
  text-align: center;
  margin: 25px;
  padding: 50px;
  background-color: #1d2d50;
  color: #fcdab7;
  overflow: hidden;
}

.header {
  text-align: center;
  padding: 32px;
  background: #E0DDDD;
}




@media (max-width: 800px) {
  #gallery img {
    width: 50%;
  }
}

@media (max-width: 600px) {
  #gallery img {
    width: 100%;
  }
}
   
   #currentTime {
  font-size: 3em;
    text-align: center;
    font-family: sans-serif;
    font-weight: 600;
    color: #fbfbfb;
    margin: 10px auto;
}
   .main-nav {
  display: -webkit-flex;
  display: flex;
  background: #362f2f;
}
.main-nav li:first-child {
  margin-right: auto;
}
.main-nav a {
  margin: 10px;
  border-radius: 5px;
  background: #92a199;
  color: #fff;
  display: block;
  padding: 15px;
  text-decoration: none;
}
.main-nav .logo {
  background: #4584b1;
}
/*slide-----------*/

   


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.text {
  position: absolute;
  transform: scale(0.5);
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  transition: all .5s ease-in-out;
  width:100%;
  height: 100%;
  text-align:center;
  transition-delay: 0.5s;
  transform:  translateX(-80px);
}
header{
    height:calc(100vh - 60px);
    background-image: url('https://i.imgur.com/UUyPDwM.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}
header h1{
    color: #fff;
    font-size:3rem;
    display: inline-block;
    margin-top: 200px;
    font-family: 'Lexend Deca';
}
header a{
    display: inline-block;
    margin-top: 30px;
    margin-left: 10px;
    text-decoration:none;
    color: #fff;
    padding:10px;
    border-radius: 30px;
    width: 150px;
    font-family: 'Lexend Deca';
    background:linear-gradient(to left ,#303F9F,#1A237E)
}

header a:hover{
    background: linear-gradient(to right,#1a237e,#283593)
}
@media only screen and (max-width:550px){
    header{
        height: auto;
    }
    header a{
        margin-bottom: 20px;
    }
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "ROBOTO", sans-serif;
}

.container{

padding: 0;

margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.background1 
{
  background: #272727; 
  width: 1500px;
  height: 500px;
}

.background2
{
  width: 1200px;
  height: 500px;
  background: #3fbd6c;
  border-radius: 500px 0px 500px 0px;
}

.background3
{
  width: 1000px;
  height: 500px;
  background: #fbfbfb;
  border-radius: 500px 0px 500px 0px;
  border-right: 50px solid #ffffff;
  border-left: 50px solid #ffffff;
  margin: auto;
  box-shadow: inset 0px 0px 100px #00000017;
}

.content 
{
  width: 500px;
  margin: auto;
  position: relative;
  top: 80px;
  font-family: 'Roboto', sans-serif;
  color: black;
}

.title
{
  text-align: right;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 40px;
  font-weight: bold;
}

.subtitle
{
  text-align: right;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 15px;
  color: #272727;
  font-weight: bold;
}

.text
{
  text-align: justify;
  text-align: justify;
  max-height: 190px;
  padding: 0px 5px 0px 5px;
  margin: 5px -5px 0px -5px;
  overflow-y: auto;
  font-size: 16px;
}

.website
{
  font-weight: bold;
  margin-top: 50px;
}

.text::-webkit-scrollbar 
{
  width: 5px; background: transparent !important; 
  border: 0px !important;
} 

.text::-webkit-scrollbar-track 
{
  background: transparent !important;
} 

.text::-webkit-scrollbar-thumb {
  background: #3fbd6c /*COLOR FONDO SCROLL*/ !important; 
  border: 0px !important;
}

.social
{
  width: 400px;
  height: 50px;
  display: inline-block;
  margin-left: 1070px;
  position: relative;
  top: -80px;
  text-align: right;
  padding: 15px;
}

.social img
{
  height: 50px;
  border-radius: 30px 0px 30px 0px;
}

.social img
{
  background: #3fbd6c;
  margin-left: 10px;
}

.social img:hover
{
  background: #101010;
}
