


@media screen and (max-width: 600px) and (min-width: 200px) {
  section {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
  }
}


 
   /* image gallery */
  h1 {
  font-family: arial;
  font-size: 3em;
  text-align: center;
  margin: 25px;
  padding: 50px;
  background-color: #1d2d50;
  color: #fcdab7;
  overflow: hidden;
}

.header {
  text-align: center;
  padding: 32px;
  background: #E0DDDD;
}




@media (max-width: 800px) {
  #gallery img {
    width: 50%;
  }
}

@media (max-width: 600px) {
  #gallery img {
    width: 100%;
  }
}
   
   #currentTime {
  font-size: 3em;
    text-align: center;
    font-family: sans-serif;
    font-weight: 600;
    color: #fbfbfb;
    margin: 10px auto;
}
   .main-nav {
  display: -webkit-flex;
  display: flex;
  background: #362f2f;
}
.main-nav li:first-child {
  margin-right: auto;
}
.main-nav a {
  margin: 10px;
  border-radius: 5px;
  background: #92a199;
  color: #fff;
  display: block;
  padding: 15px;
  text-decoration: none;
}
.main-nav .logo {
  background: #4584b1;
}
/*slide-----------*/

   


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.text {
  position: absolute;
  transform: scale(0.5);
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  transition: all .5s ease-in-out;
  width:100%;
  height: 100%;
  text-align:center;
  transition-delay: 0.5s;
  transform:  translateX(-80px);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "ROBOTO", sans-serif;
}

.container{

padding: 0;

margin: 0;
}

.img_1{
  margin: 21px 6px 6px 26px;
  padding: 4px 4px 6px 17px;
  width: 33%;
}



/*slider*/
/*   color variables */
/*   border radius */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.gallery {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-grid-columns: (minmax(12rem, 0.3fr)) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(12rem, 0.3fr));
  grid-auto-rows: 12rem;
  gap: 0.5rem;
}

.card {
  overflow: hidden;
  border-radius: 0.2rem;
  cursor: pointer;
  position: relative;
}

.card__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: -webkit-transform 250ms ease-out;
  transition: -webkit-transform 250ms ease-out;
  transition: transform 250ms ease-out;
  transition: transform 250ms ease-out, -webkit-transform 250ms ease-out;
}

.card__details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(2px) brightness(1.3);
  backdrop-filter: blur(2px) brightness(1.3);
  opacity: 0;
  -webkit-transition: opacity 350ms;
  transition: opacity 350ms;
}

.card__details h2 {
  text-align: center;
  line-height: 1.5rem;
  color: #f9fbff;
  text-shadow: 0 0 20px #161d34, 0 0 5px #4f546c;
  position: relative;
  top: 1rem;
  -webkit-transition: top 350ms;
  transition: top 350ms;
}

.card:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.card:hover .card__details {
  opacity: 1;
}

.card:hover .card__details h2 {
  top: 0;
}
